* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    padding: 3rem;
    background: #333;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header a {
    color: #fff;
    text-decoration: none;
}

section.content {
    margin-top: 2rem;
}

figure {
    margin-top: 2rem;
    border: 2px solid #e4e4e4;
    padding: 2rem; 
}

img, figcaption, figcaption p {
    margin-top: 1rem;
}